---
http_interactions:
- request:
    method: get
    uri: https://freeapi.robtex.com/pdns/forward/a.iana-servers.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-ndjson
      Content-Language:
      - en-US
      Last-Modified:
      - Tue, 12 Jun 2018 07:40:13 GMT
      X-Rt-Time:
      - 2.277417657 2.277238486
    body:
      encoding: UTF-8
      string: "{\"rrname\":\"a.iana-servers.net\",\"rrdata\":\"2001:500:8c::53\",\"rrtype\":\"AAAA\",\"time_first\":1441242410,\"time_last\":1460542918,\"count\":18}\r\n{\"rrname\":\"a.iana-servers.net\",\"rrdata\":\"2001:500:8f::53\",\"rrtype\":\"AAAA\",\"time_first\":1460751956,\"time_last\":1528461120,\"count\":18}\r\n{\"rrname\":\"a.iana-servers.net\",\"rrdata\":\"199.43.132.53\",\"rrtype\":\"A\",\"time_first\":1441242410,\"time_last\":1460542918,\"count\":18}\r\n{\"rrname\":\"a.iana-servers.net\",\"rrdata\":\"199.43.135.53\",\"rrtype\":\"A\",\"time_first\":1460751956,\"time_last\":1528461120,\"count\":18}\r\n"
  recorded_at: Tue, 12 Jun 2018 07:40:24 GMT
recorded_with: VCR 4.0.0
