---
http_interactions:
- request:
    method: get
    uri: https://freeapi.robtex.com/pdns/reverse/a.iana-servers.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-ndjson
      Content-Language:
      - en-US
      Last-Modified:
      - Tue, 12 Jun 2018 07:40:14 GMT
      X-Rt-Time:
      - 0.031073857 0.030905719
    body:
      encoding: UTF-8
      string: "{\"rrname\":\"icannalac.com\",\"rrdata\":\"a.iana-servers.net\",\"rrtype\":\"NS\",\"time_first\":1440957502,\"time_last\":1526778684,\"count\":2}\r\n{\"rrname\":\"237.in-addr.arpa\",\"rrdata\":\"a.iana-servers.net\",\"rrtype\":\"NS\",\"time_first\":1441298790,\"time_last\":1505450260,\"count\":2}\r\n{\"rrname\":\"132.43.199.in-addr.arpa\",\"rrdata\":\"a.iana-servers.net\",\"rrtype\":\"NS\",\"time_first\":1439022822,\"time_last\":1505460564,\"count\":2}\r\n{\"rrname\":\"95.7.199.in-addr.arpa\",\"rrdata\":\"a.iana-servers.net\",\"rrtype\":\"NS\",\"time_first\":1435184854,\"time_last\":1500350674,\"count\":2}\r\n{\"rrname\":\"publictechni[...]
