---
http_interactions:
- request:
    method: get
    uri: https://freeapi.robtex.com/ipquery/199.19.54.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-US
      Last-Modified:
      - Tue, 12 Jun 2018 07:40:17 GMT
      X-Rt-Time:
      - 0.059333073 0.0591212
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","act":[{"o":"b0.org.afilias-nst.org","t":1528720438}],"acth":[],"pas":[{"o":"b0.org.afilias-nst.org","t":1528720502},{"o":"b0.nic.ngo","t":1504542014},{"o":"b0.org.afilias-nst.info","t":1528720512},{"o":"b0.nic.ong","t":1510217380}],"pash":[],"city":"Toronto","country":"Canada","as":12041,"asname":"AFILIAS-NST
        Afilias Limited","whoisdesc":"Afilias Canada, Corp. (ACC-308)","routedesc":"REACH
        (Customer Route)","bgproute":"199.19.54.0/24"}'
  recorded_at: Tue, 12 Jun 2018 07:40:28 GMT
recorded_with: VCR 4.0.0
